<h1>New Bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.input :movie_id %>
  <%= f.input :list_id %>
  <%= f.submit "Submit bookmark", class: "btn btn-primary" %>
<% end %>
